.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.2;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 230px;
    height: 100vh;
    color: white;
    background-color: #040404;
    font-size: 14px;
  }
  
  .sidebar__title {
    margin-left: 10px;
    padding: 5px;
    font-size: 12px;
  }
  
  .sidebar__logo {
    margin-right: auto;
    object-fit: contain;
    height: 70px;
    padding: 10px;
  }

  /* import HomeOutlinedIcon from '@mui/icons-material/HomeOutlined';
import SidebarOption from "./SidebarOption";
import SearchOutlinedIcon from '@mui/icons-material/SearchOutlined';
import LibraryMusicOutlinedIcon from '@mui/icons-material/LibraryMusicOutlined';

<SidebarOption Icon={HomeOutlinedIcon} option="Home" />
      <SidebarOption Icon={SearchOutlinedIcon} option="Search" />
      <SidebarOption Icon={LibraryMusicOutlinedIcon} option="Your Library" /> */